<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blockhead.bhmusic" >

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/DefaultCompatTheme" >
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/DefaultCompatTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".activities.MusicService" />

        <activity
            android:name=".activities.NowPlayingActivity"
            android:label="@string/title_activity_now_playing"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/DefaultCompatTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.ViewAlbumActivity"
            android:label="@string/title_activity_view_album"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/DefaultCompatTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/SettingsTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>

        <receiver android:name=".utils.MusicIntentReceiver" >
            <intent-filter>
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activities.ViewArtistActivity"
            android:label="@string/title_activity_view_artist"
            android:parentActivityName=".activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.ColorChooserActivity"
            android:label="@string/title_activity_color_chooser"
            android:parentActivityName=".activities.SettingsActivity"
            android:theme="@style/SettingsTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.blockhead.bhmusic.activities.SettingsActivity" />
        </activity>
        <activity
            android:name=".activities.ViewPlaylistActivity"
            android:label="@string/title_activity_view_playlist"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/DefaultCompatTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.blockhead.bhmusic.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.SearchActivity"
            android:label="@string/title_activity_search"
            android:parentActivityName=".activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.blockhead.bhmusic.activities.MainActivity" />
        </activity>
    </application>

</manifest>
