<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blockhead.bhmusic" >

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/DefaultTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".MusicService" />

        <activity
            android:name=".NowPlaying"
            android:label="@string/title_activity_now_playing"
            android:parentActivityName=".MainActivity"
            android:theme="@style/DefaultTheme"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.blockhead.bhmusic.MainActivity" />
        </activity>
        <activity
            android:name=".ViewAlbumActivity"
            android:label="@string/title_activity_view_album"
            android:parentActivityName=".MainActivity"
            android:theme="@style/DefaultTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.blockhead.bhmusic.MainActivity" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity"
            android:theme="@style/SettingsTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.blockhead.bhmusic.MainActivity" />
        </activity>
        <receiver android:name=".MusicIntentReceiver">
            <intent-filter>
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
